<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/rabbit
       http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">
    <!--加载配置文件-->
    <context:property-placeholder location="classpath:rabbitmq.properties"/>

    <!-- 定义rabbitmq connectionFactory -->
    <rabbit:connection-factory id="connectionFactory" host="${rabbitmq.host}"
                               port="${rabbitmq.port}"
                               username="${rabbitmq.username}"
                               password="${rabbitmq.password}"
                               virtual-host="${rabbitmq.virtual-host}"/>
    <!--扫描监听类所在的包-->
    <context:component-scan base-package="cn.itcast.listener"/>

    <!--绑定监听的队列（消费）-->
    <rabbit:listener-container connection-factory="connectionFactory" acknowledge="manual" prefetch="5">
        <rabbit:listener ref="ackListener" queue-names="test_queue_confirm"/>
        <!--<rabbit:listener ref="qosListener" queue-names="test_queue_confirm"/>-->

        <!--监听正常队列：拒绝签收的消息会转发到死信交换机-->
        <!--<rabbit:listener ref="dlxListener" queue-names="test_queue_dlx"/>-->

        <!--延迟效果实现：注意一定要监听的是死信队列！！！-->
        <rabbit:listener ref="orderListener" queue-names="order_queue_dlx"/>
    </rabbit:listener-container>

</beans>